html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html { 
  line-height: 1.6;
}

/* global styling */

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

a, button {
  transition: 0.2s ease-in;
}



  /* font styling */
    :root{
      font-size: 62.5%;
    --font-size--default: 1.6rem;
    --font-size--medium: 2.6rem;
    --font-size--large:3rem;
    --font-size--extra:6.4rem;
      font-family: 'Poppins', sans-serif; ;
  }

    /* font sizes */
    body, label{
      font-size: var(--font-size--default);
    }

    h1 {
      font-size: var(--font-size--extra);
      font-weight: 700;
    }

    h2{
      font-size: var(--font-size--large);
    }

    h3 {
      font-size: var(--font-size--medium);
      color: #EFC570;
      font-weight: 400;
    }

    li {
      font-size: var(--font-size--medium);
      font-weight: 700;
    }

    a, label{
      color: white;
    }

    .projectText a {
      font-size: var(--font-size--default);
    }


    .icons span {
      font-weight: 300;
    }

    p {
      font-size: var(--font-size--default);
    }



    span {
      color: #EFC570;
    }

    h1, h2 {
      color: white;
      text-transform: uppercase;
    }

    p {
      color: #ffffff;
    }

  li {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
  }

  a{
    text-decoration: none;
    color: #ffffff;
    
  }
  

  /* Header styles */
  header {
    background-image:linear-gradient(to bottom, rgba(5, 5, 0, 0.637), rgba(0, 0, 0, 0.568)), url(./assets/headerImg.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  header nav {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    padding-top: 30px;
    padding-right: 50px;
   
  }

  header ul {
  display: flex;  
  
  }

  header li {
    margin: 0 20px;
  }

  header a{
    transition: ;
  }

  header a:hover{
    color: #EFC570;
    border-bottom: #EFC570 5px solid;
    border-radius: 10px;
  }


  header p {
    font-size: var(--font-size--large) ;
  }

  header p ,h1{
    align-content: center;
    
  }

  header img {
    position: fixed;
    width: 13rem;
    height: auto;
    margin: 15px;
    z-index: 5;
    opacity: 0.5;
    
  }

  .container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 15%;
    margin-bottom: 25%;
  }

/* Projects Section */

  section#projects{
    background-color: rgb(35, 35, 43);
    padding: 200px 0;
  }

  section#projects h2 {
    text-align: center;
  }


  .projectContainer {
    display: flex;
    max-width: 100%;
    margin: 100px 0;
  }

  .projectText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 50px;
  }

  .textIcons{
    display: flex;
  }

  .textIcons i{
    margin: 15px 15px
  }

  .projectText ul {
    display: flex;
    text-align: center;
    margin: 50px 0;
  }


  .projectText a {
    margin: 10px;
    border: 2px solid #EFC570;;
    border-radius: 10px;
    padding: 10px 25px;
  }

   .projectText a:hover {
    background-color: #EFC570;
    color: black;
  }



  .projectContainer img {
    width: 40%;
    border: 8px #EFC570 solid;
    border-radius: 5px;
  }

 





 /* About Me Section*/

  section#about {
   background-color: rgb(32, 31, 39);
   padding: 150px 0;
   border-top: rgba(128, 128, 128, 0.26) 1px solid;
 }

 section#about h2 {
   margin-bottom: 100px;
 }


   /* Portrait */
   .portrait img{
    border: #EFC570 7px solid;
    border-radius: 5px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 2;
  }
  

  .aboutMeContainer{
    display: flex;
  }

  .aboutText {
    width: 100%;
    display: flex;
  }

  .aboutText p{
    margin: auto;
  }





/* Skills Section */
section#skills{
  background-image:linear-gradient(to bottom, rgba(5, 5, 0, 0.637), rgba(0, 0, 0, 0.568)), url(./assets/karen-z-kwQ1fraRK4E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 0;
}

section#skills h2{
  padding: 50px 0;
}


.mySkills ul {
  padding: 35px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

  .icons li {
    display: flex;
    margin: 20px 10px;
    flex-direction: column;
    align-items: center;
  }

  i {
    font-size: 5rem;
    color: #EFC570;
  }

  .icons span {
    font-size: 1.5rem;
    display: block; 
    margin-top: 20px; 
    margin: 20px auto;
    padding: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.602);
    border-radius: 10px;
  }



/* contact section */

section#contact{
  background-color: rgb(35, 35, 43);
  padding: 100px 0;
}

section#contact h2{
  margin-bottom: 30px;
}

.contactContainer {
  display: flex;
  width: 100%;
}

.messageContainer{
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
}

.messageContainer p {
 margin: 20px auto ;


}

.formContainer {
  flex: 1 10 500px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
}

.formContainer textarea {
  resize: none;
  height: 200px;
  padding: 10px;
  margin-top: 5px;
}

.formContainer button {
  background: none;
  color: white;
  padding: 15px;
  border: 2px solid #EFC570;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.formContainer button:hover{
  cursor: pointer;
  background-color: #EFC570;
  color: black;
}

.formContainer input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

.socials i {
  color: white;
  margin: 30px 20px;
  transition: 0.2s ease-in;
}

.socials i:hover {
  color: #EFC570;
  cursor: pointer;
}


  /* Footer Styles */

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(35, 35, 43);
    color: white;
    width: 100%;
    border-top: rgba(128, 128, 128, 0.26) 1px solid;
  }



  @media (max-width: 630px) {
    header li{
      font-size: var(--font-size--small);
      padding-top: 40px;
    }


    header img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30rem;
      height: auto;
    }

  
    .projectContainer:nth-child(2){
      flex-direction: column-reverse;
    }

    .projectContainer:nth-child(3){
      flex-direction: column;
    }

    .projectContainer:nth-child(4){
      flex-direction: column-reverse;
    }

    .projectContainer li {
      flex: none;
    }

    .projectContainer img {
      width: 100%;
      margin-bottom: 30px;
    }

    .contactContainer {
      flex-direction: column;
    }

  }