html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
h1,
section#home {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* global styling */

.aboutMeContainer a:focus {
  outline: 2px #efc570 solid;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

section {
  padding: 10rem 0;
}

.navMenu a,
button {
  transition: 0.2s ease-in;
}

/* alt text styling */
img {
  color: #ffffff;
  text-align: center;
}

/* font styling */
:root {
  font-size: 62.5%;
  --font-size--extraTiny: 1.4rem;
  --font-size--tiny: 1.6rem;
  --font-size--default: 1.8rem;
  --font-size--small: 2rem;
  --font-size--medium: 2.6rem;
  --font-size--large: 3rem;
  --font-size--extra: 10.8rem;
  font-family: 'Poppins', sans-serif;
}

/* font sizes */
body,
label {
  font-size: var(--font-size--default);
}

h1 {
  font-size: var(--font-size--extra);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size--large);
}

h3 {
  font-size: var(--font-size--medium);
  color: #efc570;
  font-weight: 400;
}

li {
  font-size: var(--font-size--medium);
  font-weight: 700;
}

.projectContainer li,
select {
  font-weight: 700;
}

a,
label {
  color: white;
}

.projectText a,
p,
.btn,
.resumeText,
select {
  font-size: var(--font-size--default);
}

.textThree span {
  font-size: var(--font-size--large);
}

.icons span {
  font-weight: 300;
}

i {
  font-size: 5rem;
}

/* General Font Stylings */
span {
  color: #efc570;
}

h1,
h2 {
  color: white;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  margin-bottom: 7rem;
}

p {
  color: #ffffff;
}

li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

i {
  color: #efc570;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2.freelance {
  text-align: center;
  margin-bottom: 0rem;
  font-size: x-large;
}

/* General Hover and Focus Styles */
li a:hover,
li a:focus {
  color: #efc570;
}

li a:focus,
.socials a:focus {
  outline: #efc570 solid 3px;
}

/* Button Styles */
button,
.innerContainer {
  color: white;
  border: 2px solid #efc570;
  text-transform: capitalize;
  font-weight: 700;
  background: none;
}

button:hover,
button:focus {
  cursor: pointer;
  color: #000;
  background-color: #efc570;
}

.innerContainer:hover .resumeText,
.innerContainer:focus .resumeText {
  display: none;
}

.innerContainer:hover i,
.innerContainer:focus i {
  font-size: 10rem;
  margin: 0rem;
  text-shadow: #efc570 0 0 1rem;
  background-color: rgb(32, 31, 39);
  color: #efc570;
}

.innerContainer:hover,
.innerContainer:focus {
  height: 100%;
  background-image: url(./assets/resumeImg.png);
  background-size: cover;
  background-position: center;
  color: #efc570;
}
/* Header styles */

header {
  background-image: linear-gradient(
      to bottom,
      rgba(5, 5, 0, 0.637),
      rgba(0, 0, 0, 0.568)
    ),
    url(./assets/headerBackground1.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header p {
  font-size: var(--font-size--large);
}

header p,
h1 {
  align-content: center;
}

/* Nav Menu Styles */

.navStop {
  width: 100%;
  height: 70px;
}

nav {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  text-transform: capitalize;
}

.navMenu {
  position: fixed;
  background-color: rgb(32, 31, 39);
  width: 100%;
  height: 100vh;
  left: -100%;
  z-index: 2;
  transition: all 0.3s ease;
  top: 0;
  border-top: #efc570 5px solid;
  border-bottom: #efc570 5px solid;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  display: none;
}

header li {
  font-size: 3.5rem;
}

li a:hover {
  border-radius: 5px;
  border-bottom: #efc570 5px solid;
}

.select a:focus {
  padding: 0rem 2.5rem;
}

/* Social Icon Styling (For nav menu & contact section)*/
.socials {
  display: flex;
  flex-wrap: wrap;
}

.socials li {
  display: flex;
}

.socials li a {
  border-bottom: none;
  padding: 15% 0rem 5% 0rem;
}

.socials i {
  color: white;
  transition: 0.2s ease-in;
  padding: 0rem 1.5rem;
}

.socials i:hover,
.socials i:focus {
  color: #efc570;
  cursor: pointer;
  text-shadow: #efc570 0px 0px 35px;
}

.socials a:focus {
  transition: 0s;
}

/* Logo Styles*/

a.logo,
.logo img {
  width: 13rem;
  z-index: 5;
  transition: ease-in-out 0.2s;
}

a.logo {
  height: 13rem;
  margin: 0.5rem;
  position: fixed;
  opacity: 0.4;
}

a.logo.open {
  width: 10rem;
  opacity: 1;
  pointer-events: none;
  outline: none;
  box-shadow: none;
}

a.logo.open:hover {
  outline: none;
}

.logo:hover,
.logo:focus {
  opacity: 1;
}

.logo:focus {
  border: #efc570 5px solid;
  outline: none;
  border-radius: 100%;
  box-shadow: #efc570 0px 0px 120px 25px;
}

/* Burger Menu Styles */

.hamburgerMenu {
  position: fixed;
  right: 1.8rem;
  top: 1.8rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  cursor: pointer;
  border-radius: 100%;
  background: none;
  border-style: none;
  opacity: 75%;
  overflow: hidden;
  padding: 0.6rem 0.6rem;
}

.hamburgerMenu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 10px solid #efc570;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.1s ease-in-out;
}

.hamburgerMenu:hover::before,
.hamburgerMenu:focus-visible::before {
  opacity: 100%;
  transform: scale(1);
}
button.hamburgerMenu:hover,
button.hamburgerMenu:focus {
  background-color: transparent;
}

.hamburgerMenu:focus-visible {
  box-shadow: #efc570 0px 0px 150px 20px;
}

.circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 7rem;
  height: 7rem;
  background-color: #000;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}

.bar {
  transition: 0.5s;
  display: block;
  width: 35px;
  height: 5px;
  margin: 0.3rem auto;
  background-color: #efc570;
  border-radius: 10px;
}

/* Burger Menu Open Styling */
.navMenu.open {
  display: block;
  position: fixed;
  left: 0;
}

header ul.open {
  display: flex;
}

.hamburgerMenu.open .bar:nth-child(3) {
  transform: rotate(45deg) translatey(-7px) translateX(-7px);
}

.hamburgerMenu.open .bar:nth-child(2) {
  transform: translatex(-100%);
  background: transparent;
}

.hamburgerMenu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translatey(8px) translateX(-9px);
}

/* Header Main Content Container */

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.textHeadshotContainer {
  display: flex;
  justify-content: center;
}

.textTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textTwo span {
  flex-wrap: nowrap;
}

.headShot {
  max-width: 33%;
  align-self: flex-start;
  margin-left: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: #efc570 8px solid;
  border-radius: 0.5rem;
  position: relative;
}

.headShot img {
  border-top-left-radius: 0.05rem;
  border-top-right-radius: 0.05rem;
  width: 100%;
  background-color: rgba(32, 31, 39, 0.409);
  margin: 0 auto;
}

.downloadResumeContainer {
  margin-bottom: 1rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.8rem;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.6rem;
  background-color: rgb(32, 31, 39);
  border-bottom-right-radius: 0.05rem;
  border-bottom-left-radius: 0.05rem;
  border: none;
  position: absolute;
  height: 6rem;
  width: 100%;
  bottom: 0;
  transition: 0.3s ease-in-out;
}

.innerContainer i {
  font-size: xx-large;
  margin-left: 1rem;
  color: #efc570;
}

.innerContainer:hover.innerContainer i,
.innerContainer:focus.innerContainer i {
  color: inherit;
}

.innerContainer:focus.innerContainer {
  outline: none;
}

/* Scroll Down Button Styles */
.scrollBtn,
.scrollBtn a {
  height: 80px;
  width: 50px;
  border-radius: 50px;
}

.scrollBtn {
  border: 3px solid #efc570;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.446);
  position: relative;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.scrollBtn a {
  bottom: -3px;
  right: -3px;
  position: absolute;
}

.scrollBtn::before {
  content: '';
  position: absolute;
  height: 12px;
  width: 15px;
  border: 2px solid #efc570;
  background-color: #efc570;
  top: 10%;
  left: 50%;
  margin-left: -0.75rem;
  border-radius: 8px;
  animation: scrollDown 2s ease-in-out infinite;
  animation-delay: 0.7s;
}

.scrollBtn::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border: 2px solid #efc570;
  top: 10%;
  left: 50%;
  margin-left: -0.75rem;
  border-radius: 2px;
  top: 30%;
  transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrollDownArrow 2s ease-in-out infinite;
}

.scrollBtn:hover,
.scrollBtn a:focus {
  border: #efc570 solid 8px;
  outline: none;
}

.scrollBtn a:active {
  border: none;
}

/* Scroll Button Key Frame Animations */
@keyframes scrollDown {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 30px;
  }
  60% {
    height: 20px;
  }
  80% {
    height: 15px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 70%;
  }
}

@keyframes scrollDownArrow {
  0% {
    opacity: 0;
  }
  15% {
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  75% {
  }
  100% {
    opacity: 0;
    top: 75%;
  }
}

/* About Me Section*/

section#about {
  background-color: rgb(32, 31, 39);
  border-top: rgba(128, 128, 128, 0.26) 1px solid;
  border-bottom: rgba(128, 128, 128, 0.26) 1px solid;
}

.animatedText {
  margin-bottom: 0.5rem;
  font-size: var(--font-size--large);
}

/* Portrait */
.aboutMeContainer {
  display: flex;
}

.portrait {
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 3200px;
  max-width: 100%;
}

.portrait img {
  border: #efc570 7px solid;
  border-radius: 5px;
}

aside {
  display: flex;
}

aside .aboutText {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

aside .aboutText p {
  margin: auto;
  margin-bottom: 2rem;
}

aside .aboutText p:last-of-type {
  margin-bottom: 0;
}

aside .aboutText a {
  color: #efc570;
}

/* Projects Section */

section#projects {
  background-color: rgb(35, 35, 43);
  border-bottom: rgba(128, 128, 128, 0.26) 1px solid;
  overflow-x: hidden;
}

.freelanceContainer {
  display: flex;
  flex-direction: column;
}

.projectContainer {
  display: flex;
  max-width: 100%;
  margin: 10rem auto;
}

.projectContainer:first-of-type {
  margin-top: 0rem;
}

.projectContainer:last-of-type {
  margin-bottom: 0rem;
}

.projectText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 5rem;
}

.projectLogo {
  display: flex;
}

.textIcons .projectLogo img {
  width: 40px;
  height: auto;
}

.textIcons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.projectText h3 {
  text-transform: capitalize;
}

.textIcons i,
.textIcons .projectLogo img {
  margin: 1.5rem 1.5rem;
  border: none;
}

.projectText ul {
  display: flex;
  text-align: center;
  margin: 2.5rem 0;
}

.customSelect {
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-family: inherit;
  padding: 0.5rem 2rem;
}

.btn,
.customSelect {
  border: 2px solid #efc570;
  border-radius: 5px;
  margin: 1rem;
}

.btn {
  padding: 1rem 2.5rem;
}

.collaberation a {
  margin: 0rem;
  border: none;
  border-radius: 0px;
  padding: 0rem;
  color: #efc570;
  text-transform: capitalize;
  text-decoration: underline;
  display: inline-block;
}
.customSelect:focus,
.customSelect:hover,
.aboutText a:hover,
.aboutText a:focus,
.projectText a:hover,
.projectText a:focus {
  background-color: #efc570;
  color: black;
  text-decoration: underline;
}

.projectContainer img {
  width: 45rem;
  border: 8px #efc570 solid;
  border-radius: 5px;
}

/* Skills Section */
section#skills {
  background-image: linear-gradient(
      to bottom,
      rgba(5, 5, 0, 0.637),
      rgba(0, 0, 0, 0.568)
    ),
    url(./assets/headerBackground3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.mySkills h3 {
  text-align: right;
}

.mySkills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
}

.icons span {
  font-size: 1.5rem;
  display: block;
  margin: 2rem auto;
  padding: 0.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.602);
  border-radius: 10px;
  text-align: center;
}

/* Contact Section */

section#contact {
  background-color: rgb(35, 35, 43);
  border-top: rgba(128, 128, 128, 0.26) 1px solid;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: #efc5701f 1px solid;
  border-radius: 15px;
  padding: 5rem 0rem;
  background-color: rgb(32, 31, 39);
}
.messageContainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.messageContainer i {
  font-size: xx-large;
}

.messageContainer a {
  margin: 0rem 0rem 2.5rem 0rem;
}

.formContainer {
  width: 90%;
  margin: 0 auto;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formContainer textarea {
  resize: none;
  height: 200px;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: rgb(35, 35, 43);
  color: #ffffff;
  border: #efc570 2px solid;
}

textarea:focus,
input:focus {
  outline: #efc570 3px solid;
}

.formContainer button {
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 1rem;
}

.formContainer input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(35, 35, 43);
  color: #ffffff;
  border: #efc570 2px solid;
}

/* Footer Styles */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(32, 31, 39);
  color: white;
  width: 100%;
  border-top: rgba(128, 128, 128, 0.26) 1px solid;
}

/* Start of Animations */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  animation: fadein 2.5s;
}

span {
  animation: fadein 3.5s;
}

@keyframes flyin {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}

.logo {
  animation: flyin 2s;
}

/* Start of Scroll Event Animations */

.fadeIn {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fadeIn.appear {
  opacity: 1;
}

.fromRight {
  transform: translateX(100%);
}

.fromLeft {
  transform: translateX(-100%);
}

.fromLeft,
.fromRight {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.fromLeft.appear,
.fromRight.appear {
  transform: translateX(0);
  opacity: 1;
}

/* Start of Media Queries */

@media (max-width: 1188px) {
  a.logo {
    width: 8rem;
    height: 8rem;
    margin-top: 1.6rem;
    margin-left: 1.8rem;
  }
}
@media (max-width: 1164px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 1100px) {
  .animatedText {
    text-align: center;
  }

  .aboutMeContainer {
    flex-direction: column;
  }

  .portrait {
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }

  .portrait img {
    width: 75%;
  }

  aside .aboutText {
    margin-left: 0rem;
    padding: 2rem;
  }

  /* Poject Section Media Queries */

  .projectContainer {
    margin: 7.5rem 0;
  }

  .projectContainer:nth-child(2) {
    flex-direction: column-reverse;
  }

  .projectContainer:nth-child(3) {
    flex-direction: column;
  }

  .projectContainer:nth-child(4) {
    flex-direction: column-reverse;
  }

  .projectContainer:nth-child(5) {
    flex-direction: column;
  }

  .projectContainer:nth-child(6) {
    flex-direction: column-reverse;
  }

  .projectContainer li {
    flex: none;
  }

  .projectContainer img {
    width: 100%;
    margin-bottom: 3rem;
  }

  .projectText {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    width: 85%;
  }

  .projectContainer img {
    width: 400px;
    margin: 0rem auto 5rem auto;
  }

  .projectText p {
    margin: 2rem 0;
  }

  .projectText ul {
    justify-content: center;
  }

  .projectText .textIcons {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  /* Header Section Media Queries */

  header {
    background-attachment: scroll;
  }

  .headerContainer h1 {
    font-size: 7.8rem;
  }

  .innerContainer {
    font-size: 16px;
  }

  /* Skill Section Media Queries */

  section#skills {
    background-attachment: scroll;
  }
}

@media (max-width: 875px) {
  /* About Section Media Queries */

  .portrait img {
    z-index: 0;
  }

  .topPhoto {
    margin: 0 auto;
  }

  /* Contact Section Media Queries */

  .contactContainer {
    flex-direction: column;
  }

  .formContainer {
    margin-top: 2rem;
  }
}

@media (max-width: 826px) {
  /* Header Section Media Queries */

  header {
    min-height: auto;
  }

  .headerContainer {
    justify-content: flex-start;
    height: auto;
  }

  .headShot {
    margin: 2.5rem 0rem;
    align-self: center;
    max-width: 65%;
  }

  .headShot img,
  .downloadResumeContainer {
    width: 100%;
  }

  .textTwo {
    align-items: center;
  }

  .textHeadshotContainer {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  /* About Me Section Media Query */
  .portrait img {
    width: 90%;
  }
}

@media (max-width: 634px) {
  .icons i {
    font-size: 3.8rem;
  }

  .icons span {
    font-size: 1.3rem;
  }

  .hamburgerMenu {
    right: 0.5rem;
  }

  .logo img,
  a.logo {
    width: 6.8rem;
    height: 6.8rem;
    margin-left: 0.5rem;
  }

  .bar {
    width: 25px;
  }

  .circle {
    width: 50px;
    height: 50px;
  }

  .hamburgerMenu::before {
    border: 6px solid #efc570;
  }

  header li {
    font-size: var(--font-size--small);
  }

  .navMenu .socials i {
    font-size: 2.5rem;
  }
}

@media (max-width: 518px) {
  /* Header Section Media Queries */

  .portrait .animatedText {
    font-size: var(--font-size--medium);
  }

  .icons ul {
    width: 110%;
  }
}

@media (max-width: 459px) {
  /* Header Section Media Query */

  .headerContainer h1 {
    font-size: 5rem;
  }

  .textOne,
  .textThree .typingAnimation {
    font-size: 2rem;
  }

  .navStop {
    height: 50px;
  }

  .scrollBtn {
    scale: 70%;
  }

  /* Project Section Media Query */
  .textIcons i,
  .textIcons .projectLogo img {
    margin: 0.5rem;
  }

  .textIcons i {
    font-size: xx-large;
  }

  .textIcons .projectLogo img {
    width: 2.5rem;
  }

  /* Footer Section Media Query */
  footer p {
    font-size: var(--font-size--tiny);
  }
}

@media (max-width: 414px) {
  .portrait .animatedText {
    font-size: var(--font-size--small);
  }
}

@media (max-width: 373px) {
  /* header section */

  .innerContainer i {
    font-size: x-large;
  }

  .textTwo h1 {
    font-size: 4.5rem;
  }

  /* Project Media Query */

  .projectText ul {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }

  .projectText li a {
    padding: 1rem;
    margin: 0rem;
  }

  .socials i {
    font-size: x-large;
  }

  /* Footer Media Query */
  footer p {
    font-size: var(--font-size--extraTiny);
  }
}

@media (max-width: 324px) {
  .navStop {
    height: 30px;
  }

  .portrait .animatedText {
    font-size: var(--font-size--tiny);
  }

  header ul {
    margin-top: 5rem;
  }

  .icons i {
    font-size: 4rem;
  }

  .icons span {
    font-size: 1.3rem;
  }

  .socials i {
    font-size: larger;
  }
}
